<ion-content class="ion-padding-top ion-padding-start ion-padding-end">
  <img src="assets/img/logo.png" alt="Zaragoza 2012 logo" />
  <h4 class="ion-text-center">Aplicación de control del gasoil</h4>
  <div>&nbsp;</div>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <ion-item>
      <ion-label>Código empleado:</ion-label>
      <ion-input type="password" formControlName="pin"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_message.pin">
        <div *ngIf="loginForm.get('pin').hasError(validation.type) && (loginForm.get('pin').dirty || loginForm.get('pin').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-button expand="full" shape="round" color="success" 
    [disabled]="!loginForm.valid" type="submit">
      Login
    </ion-button>
  </form>
</ion-content>